# üëã Welcome to Week 1 Day 3 of Python and AI Bootcamp


![Pythonclass.png]()

## üë©‚Äçüè´ **Trainer:** Eesha Tur Razia Babar  
## ü§ñ **Remote AI Research Assistant** @ Purdue University

# üìå Agenda

1. **Dictionaries**
   - Key-value data structure
   - Access, update, delete entries
   - Looping through dictionaries

2. **Loops**
   - `for` loops
   
   - Loop control statements: `break`, `continue`, `pass`

3. **Functions**
   - Defining functions
   - Parameters and return values
   - Function best practices

4. **Lambda Functions**
   - Anonymous functions
   - Usage with `map()`, `filter()`

5. **List Comprehension**
   - Basic syntax
   - Conditional list comprehensions
   - Nested list comprehensions

6. **Exception Handling**
   - `try...except` blocks
   - Handling multiple exceptions
   - `finally` and `raise` usage

## üìö Python Dictionaries

### **Definition**
A **dictionary** in Python is a built-in data structure that stores data in **key-value pairs**.  
- Each **key** acts as a unique identifier for its **value**.  
- Keys must be immutable types (e.g., strings, numbers, tuples containing only immutable items).
"Immutable" means something that cannot be changed or modified after it is created.

In programming, an immutable object is one whose value cannot be altered once assigned. If you try to change it, a new object is created instead of modifying the existing one.
- Values can be of any data type.  

**Example:**
```python
student = {
    "name": "Ali",
    "age": 21,
    "grade": "A"
}

## üîë Properties of Python Dictionaries

| Property                               | Description |
|----------------------------------------|-------------|
| **Preserve Insertion Order** (Python ‚â• 3.7) | Maintains the order in which items are inserted. |
| **Mutable**                            | Can add, update, or remove items after creation. |
| **Indexed by Keys**                    | Values are accessed using keys, not numeric indices. |
| **Keys Must Be Unique**                | Duplicate keys overwrite existing values. |
| **Keys Must Be Immutable**             | Keys can be strings, numbers, or tuples containing only immutable elements. |
| **Values Can Be Any Data Type**        | Values can be strings, numbers, lists, dictionaries, etc. |

1Ô∏è‚É£ Creating and Accessing a Dictionary

In [30]:
# Creating a dictionary with key-value pairs
student = {
    "name": "Ali",    # key: "name", value: "Ali"
    "age": 21,        # key: "age", value: 21
    "grade": "A"      # key: "grade", value: "A"
}

# Accessing values using keys
print(student["name"])   # Output: Ali
print(student["grade"])  # Output: A

Ali
A

2Ô∏è‚É£ Adding and Modifying Entries

In [32]:
student = {
    "name": "Ali",
    "age": 21,
    "grade": "A"
}

# Add a new key-value pair
student["city"] = "Lahore"

# Modify an existing value
student["grade"] = "B+"

print(student)

{'name': 'Ali', 'age': 21, 'grade': 'B+', 'city': 'Lahore'}

3Ô∏è‚É£ Removing Entries

In [34]:
student = {
    "name": "Ali",
    "age": 21,
    "grade": "A",
    "city": "Lahore"
}

#Using del keyword
#Deletes a key-value pair without returning the value.
#If the key does not exist ‚Üí raises a KeyError.

del student["age"]

# Using pop() method
#Removes a key-value pair and returns the value.
#Can take a default value to return if the key doesn‚Äôt exist (avoids KeyError).

removed_city = student.pop("city", "Not Found")
print("Removed city:", removed_city)

#student.pop("city", "Not Found")
#Looks for "city" in the dictionary.
#If found ‚Üí removes it and returns its value.
#If not found ‚Üí returns "Not Found" (the default value provided).
#removed_city
#Stores the returned value (either the actual city name or "Not Found").


removed_city = student.pop("city", "Not Found")
print("Removed city:", removed_city)

print(student)

Removed city: Lahore
Removed city: Not Found
{'name': 'Ali', 'grade': 'A'}

4Ô∏è‚É£ Dictionary of Lists

In [35]:
# A dictionary where each value is a list
grades = {
    "Ali": [85, 90, 88],
    "Sara": [78, 82, 91],
    "John": [92, 88, 95]
}

In [36]:
# Mutable key example
student = {}

# Trying to use a list as a key
student[["first", "last"]] = "Ali Babar"

#‚úÖ Rule of Thumb:
#Keys must be immutable: strings, numbers, or tuples that contain only immutable elements.

TypeError: unhashable type: 'list'

üîç Why It Happens
Python dictionaries and sets use hashing to store and find elements quickly.

Only immutable (unchangeable) objects can be hashed.

Lists can change (items can be added, removed, or modified), so Python cannot use them as keys.

## üîÑ `for` Loop in Python

### **Definition**
A **`for` loop** in Python is used to **iterate** over a sequence (such as a list, tuple, dictionary, string, or range of numbers) and execute a block of code **once for each item** in the sequence.

Unlike some other programming languages where `for` loops use a counter by default, Python‚Äôs `for` loop works directly with **iterable objects**.

---

### **Syntax**
```python
for variable in sequence:
    # Code block to execute

1Ô∏è‚É£ Loop Through a List

In [38]:
fruits = ["apple", "banana", "cherry"]
for f in fruits:
    print(f)

apple
banana
cherry

In [22]:
fruits = ["apple", "banana", "cherry"]
for vegetable in fruits:
    print(vegetable)

apple
banana
cherry

# 2Ô∏è‚É£ Using range()

In [39]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

3Ô∏è‚É£ Loop Through a String

In [41]:
for c in "Python":
    print(c)

P
y
t
h
o
n

In [23]:
for m in "Python":
    print(m)

P
y
t
h
o
n

4Ô∏è‚É£ Loop with Condition (Even Numbers)

In [ ]:
a = 2
for i in range(1, 21):
  if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

5Ô∏è‚É£ Loop Through a Dictionary

In [42]:
student = {"name": "Ali", "age": 21, "grade": "A"}
for key, value in student.items():
#.items() is a dictionary method in Python that returns all the key-value pairs in the dictionary as tuple pairs.
    print(f"{key} ‚Üí {value}")

name ‚Üí Ali
age ‚Üí 21
grade ‚Üí A

# 6Ô∏è‚É£ Nested for Loops

In [43]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

## üîÑ For Loop Example with `break` and `continue`

range(6) ‚Üí generates numbers from 0 to 5.

if i == 2: continue ‚Üí skips printing 2 and moves to the next iteration.

if i == 5: break ‚Üí stops the loop entirely when i reaches 5.

print(i) ‚Üí prints the value if neither condition is triggered.

In [26]:
for i in range(6):
    if i == 2:
        continue  # Skip when i is 2
    if i == 5:
        break     # Stop the loop when i is 5
    print(i)

0
1
3
4

## üìä Nested For Loops ‚Äî Multiplication Table

In [44]:
# Generate a 5x5 multiplication table
for i in range(1, 6):           # Outer loop for rows
    for j in range(1, 6):       # Inner loop for columns
        print(i * j, end="\t")  # \t adds tab space for alignment
    print()  # Move to the next line after each row

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

## **`range()` Function in Python**

The `range()` function generates a sequence of numbers, often used in `for` loops.

**Syntax:**
```python
range(start, stop, step)

Parameters:

start (optional) ‚Äì The starting value of the sequence (default: 0).

stop (required) ‚Äì The number one past the last value in the sequence.

step (optional) ‚Äì The increment between each number (default: 1). Can be negative.

1Ô∏è‚É£ Counting Up

In [ ]:
# Print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

2Ô∏è‚É£ Counting Down

In [ ]:
# Print numbers from 10 down to 1
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

3Ô∏è‚É£ Multiplication Table

In [ ]:
# Print the 5 times table
for i in range(1, 11):
    print(f"5 x {i} = {5*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# üêç Python Functions ‚Äì Definition & Examples

## üìå What is a Function?
A **function** in Python is a block of reusable code that performs a specific task.  
It helps organize code, avoid repetition, and make programs more readable.

---

## **Function Syntax**
```python
def function_name(parameters):
    """Optional docstring explaining the function."""
    # Code block
    return value
def ‚Üí Keyword to define a function

function_name ‚Üí Name you choose for your function

parameters ‚Üí Inputs to the function (optional)

return ‚Üí Value the function sends back (optional)

1Ô∏è‚É£ Function Without Parameters

In [46]:
def greet():
    print("Hello")

greet()

Hello

In [47]:
def greet_user(name):
    print(f"Hello, {name}!")

greet_user("eesha")

Hello, eesha!

In [49]:
def add_numbers(a, b):
    return a + b

result = add_numbers(5,1)
print(result)

6

In [50]:
def greet_user(name="Guest"):
    print(f"Hello, {name}!")

greet_user()
greet_user("Bob")

Hello, Guest!
Hello, Bob!

In [ ]:
def calculate(a, b):
    sum_val = a + b
    diff_val = a - b
    return sum_val, diff_val

s, d = calculate(10, 4)
print("Sum:", s)
print("Difference:", d)

Sum: 14
Difference: 6

‚úÖ Tips:

Use descriptive function names.

Keep functions small and focused on a single task.

Add docstrings to explain what the function does.

# üêç Python Built-in Functions

Python comes with **built-in functions** that you can use without importing any module.  
These are always available in Python.

---

## üìå Commonly Used Built-in Functions

| Function | Description | Example |
|----------|-------------|---------|
| `print()` | Displays output to the screen | `print("Hello")` ‚Üí `Hello` |
| `len()` | Returns the length of an object | `len("Python")` ‚Üí `6` |
| `type()` | Returns the type of an object | `type(5)` ‚Üí `<class 'int'>` |
| `int()` | Converts to an integer | `int(3.9)` ‚Üí `3` |
| `float()` | Converts to a float | `float(3)` ‚Üí `3.0` |
| `str()` | Converts to a string | `str(123)` ‚Üí `"123"` |
| `abs()` | Returns absolute value | `abs(-7)` ‚Üí `7` |
| `sum()` | Returns sum of an iterable | `sum([1,2,3])` ‚Üí `6` |
| `max()` | Returns the largest value | `max(2,5,1)` ‚Üí `5` |
| `min()` | Returns the smallest value | `min(2,5,1)` ‚Üí `1` |
| `round()` | Rounds a number | `round(3.1416, 2)` ‚Üí `3.14` |
| `sorted()` | Returns a sorted list | `sorted([3,1,2])` ‚Üí `[1,2,3]` |
| `range()` | Generates a sequence of numbers | `list(range(3))` ‚Üí `[0,1,2]` |
| `input()` | Reads user input as a string | `name = input("Enter name: ")` |
| `help()` | Displays documentation | `help(len)` |
| `dir()` | Lists attributes of an object | `dir(str)` |

---

## üîπ Example Code
```python
numbers = [4, 7, 1, 9, 3]

print("Length:", len(numbers))
print("Max:", max(numbers))
print("Min:", min(numbers))
print("Sum:", sum(numbers))
print("Sorted:", sorted(numbers))

üìö More Built-in Functions
You can see the full list in Python's documentation:
Python Built-in Functions

# ‚ö° Python Lambda Functions

## üìå What is a Lambda Function?
A **lambda function** is a small, anonymous (unnamed) function in Python.  
It can have any number of arguments but only **one expression**.  

---

## **Syntax**
```python
lambda arguments: expression

## üîπ Why Do We Use Lambda Functions in Python?

### 1Ô∏è‚É£ Concise Syntax
- Lambda functions can be written in **one line**.
- No need to define a separate function with `def` when it‚Äôs only used once.

```python
square = lambda x: x**2
print(square(5))  # 25

In [ ]:
square = lambda x: x**2
print(square(5))

25

In [ ]:
add = lambda a, b: a + b
print(add(3, 7))

10

In [ ]:
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)

[1, 4, 9, 16]

In [ ]:
nums = [10, 15, 20, 25, 30]
even_nums = list(filter(lambda x: x % 2 == 0, nums))
print(even_nums)

[10, 20, 30]

## üìù Introduction to List Comprehensions

### **Definition**
List comprehensions provide a **concise and readable** way to create lists in Python.  
They allow you to **generate a new list** by applying an expression to each item in an existing iterable (like a list, tuple, string, or range), optionally including a condition.

---

### **Syntax**
```python
[expression for item in iterable if condition]

expression ‚Üí The value or transformation to include in the new list.

item ‚Üí Variable that takes each value from the iterable.

iterable ‚Üí A sequence (like a list, tuple, string, or range) to iterate over.

condition (optional) ‚Üí Filters which items are processed.

## 1Ô∏è‚É£ Basic Transformation

In [51]:
numbers = [1, 2, 3, 4, 5]
squares = [n**2 for n in numbers]
print(squares)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

2Ô∏è‚É£ With Condition (Filtering)

In [14]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = [n for n in numbers if n % 2 == 0]
print(even_numbers)  # [2, 4, 6]

[2, 4, 6]

## üîπ Why Do We Use List Comprehensions?

### 1Ô∏è‚É£ Concise and Readable Code
- Allows creating new lists in a **single line**.
- Eliminates the need for multi-line `for` loops with `append()`.

```python
# Traditional
squares = []
for n in range(5):
    squares.append(n**2)

# List comprehension
squares = [n**2 for n in range(5)]

2Ô∏è‚É£ Combines Transformation and Filtering
Transform items and filter them in the same expression.

python
Copy
Edit
even_squares = [n**2 for n in range(10) if n % 2 == 0]
print(even_squares)  # [0, 4, 16, 36, 64]

# ‚ö†Ô∏è Python Exception Handling

## üìå What is Exception Handling?
- Exceptions are **errors** that occur during program execution.
- Exception handling allows your program to **continue running** instead of crashing.
- In Python, exceptions are handled using `try`, `except`, `else`, and `finally`.

---

## **Syntax**
```python
try:
    # Code that may raise an exception
except ExceptionType:
    # Code to handle the exception
else:
    # Code to run if no exception occurs (optional)
finally:
    # Code that runs no matter what (optional)

In [52]:
try:
    num = int(input("Enter a number: "))
    print("You entered:", num)
except ValueError:
    print("‚ùå That is not a valid number!")

Enter a number: a
‚ùå That is not a valid number!

In [53]:
try:
    x = int(input("Enter numerator: "))
    y = int(input("Enter denominator: "))
    result = x / y
    print("Result:", result)
except ValueError:
    print("‚ùå Invalid number entered!")
except ZeroDivisionError:
    print("‚ùå Cannot divide by zero!")

Enter numerator: 2
Enter denominator: 0
‚ùå Cannot divide by zero!

In [54]:
try:
    num = int(input("Enter a positive number: "))
except ValueError:
    print("‚ùå Invalid number!")
else:
    print("‚úÖ You entered:", num)

Enter a positive number: 2
‚úÖ You entered: 2

In [55]:
try:
    f = open("test.txt", "w")
    f.write("Hello")
except Exception as e:
    print("Error:", e)
finally:
    f.close()
    print("üìÇ File closed.")

üìÇ File closed.

## üîπ Why Do We Use Exception Handling in Python?

### 1Ô∏è‚É£ Prevent Program Crashes
- Without exception handling, an error stops the entire program.
- Using `try...except` allows the program to **continue running** even if an error occurs.

```python
try:
    num = int(input("Enter a number: "))
    print(10 / num)
except ZeroDivisionError:
    print("‚ùå You cannot divide by zero.")

2Ô∏è‚É£ Provide User-Friendly Error Messages
Replace technical error messages with clear, helpful feedback.

try:
    file = open("data.txt")
except FileNotFoundError:
    print("‚ö† File not found. Please check the file name.")

3Ô∏è‚É£ Handle Specific Error Types
Catch different exceptions and handle them differently.

try:
    num = int("abc")
except ValueError:
    print("Invalid number format.")

4Ô∏è‚É£ Ensure Cleanup Actions
The finally block runs whether an error occurs or not ‚Äî useful for closing files, releasing resources, or cleaning temporary data.

try:
    file = open("data.txt")
    # Do something with the file
finally:
    file.close()

In [56]:
# Create an empty list
my_list = []

# You can verify it is empty
print(my_list)

# You can also verify its type
print(type(my_list))

[]
<class 'list'>